
.product-order {
    display: flex;
    padding: 2rem 3rem;
    
}

.product-order img {
    width: 40%;
}

.product-description {
    text-align: left;
    flex: 1 1 50%;
    padding-left: 1rem;
}

h2 {
    font-size: 1rem;
    padding: 0 0 1rem;
}

button {
    background-color: grey;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 0.6rem;
    border: none;
    padding: 0.5rem 0.7rem;
    
}